@charset "utf-8";@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shojumaru&family=Stylish&display=swap');
:root{
--color-naranja: #ffac2c;

--color-negro: #29373c;

--color-fondo-gris: #f9fbf3;

--color-fondo-footer: #ED8F03;

--color-texto: #999;
	
--color-blanco: #fff; 
		
}	
	
.titulos{
	font-family: Nanum Pen Script;
	color: #FFFFFF;
	
}	

.contenido{
	
	font-family: stylish;
}
	
.halloween-letra{
	
	font-family: Shojumaru
}

#hero{
	
	background-image: url("../img/bg-hero.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 15%;
	
	
}



.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
	
}

.header-area.sticky{
	background-color: transparent;
	}


.header-area.sticky .navbar-default{
	background-color: #884bdf;
}

.header-area.sticky .navbar-light .navbar-nav .nav-link{
	color: var(--color-blanco);
}

.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-blanco);
}


.header-area.sticky .navbar-light .navbar-nav .nav-link{
	color: var(--color-negro);
}
.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-naranja);
}
.header-area.sticky .navbar-light .navbar-brand {
	color: var(--color-blanco);
}

.overlay-hero{
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	padding-top: 15%;
	
}

.hero-info {
	margin: auto;
	width: 60%;	
}


#hero h1{
	
	font-size: 60px;
	color: var(--color-naranja);
	padding-top: 5%
}

hero h2{
	
	color: var(--color-blanco);
}

.btn-counter{
	
	display: block;
	margin-right: 5%;
	margin-left:9%;
	margin-top: 2%;
	border: thick;
	border-color: var(--color-blanco);
	background-color: transparent;
	font-family: stylish;
	color: var(--color-blanco);
    border-radius: 30px;
    font-size: 12px;
 
    text-transform: uppercase;
	
}

.btn-counter:hover{
	
	

	font-family: stylish;
	color: black;
    background-color: transparent;
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 30px;
    text-transform: uppercase;

}

.btn-shop{
	
	font-family: stylish;
	text-align: center;
	padding-bottom: 1%;
	margin:auto;
	margin-top: 5%;
	background-color: #EFED00;
	color: var(--color-negro);
	
	
}

.btn-shop:hover{
	
	background-color: var(--color-naranja);
	color: var(--color-negro);
	font-weight: bolder;
	
	
}

#offer h1
{
	text-align: center;
	padding-left: 37%;
	color: var(--color-negro);
}

#offer h3
{
	text-align: center;
	color: var(--color-negro);
	padding-left: 28%;
}

#offer h4{
	
	color: var(--color-negro);
	margin-top: 10%;
	margin-bottom: 5%;
}

#offer img{
	
	margin-top: 15%;
}


#offer p{
	
	color: var(--color-texto)
}

#faq {
	background: var(--color-fondo-gris);
	margin-top: 5%;
	
}

#faq h2{
	
	color: var(--color-negro);
	font-size: 80px;
}

#faq h3{
	
	color: var(--color-negro);
	font-size: 30px;
}

#faq p{
	color: var(--color-texto);
	font-size: 15px;
	text-align: justify;
	
}

#faq h5{
	
	color: var(--color-negro);
	font-size: 30px;
}

.btn-shop-two{
	
	background-color: var(--color-negro);
	color: var(--color-blanco);
	
}

.codigo{
	font-family: stylish;
	color: var(--color-texto);
	font-size: 10px;
	padding-left: 25%;
	margin-bottom: 30%;
}

#testimonials{
	
	color: var(--color-texto);
}

#testimonials .tab-content{
	
	padding: 40px 0;
}

#testimonials .nav-tabs a{
	

	color:#000;
	font-size: 20px;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
}

#testimonials .nav-tabs a.active{
	
	background-color: var(--color-principal);
	color: #fff;
	
	
	
}


#testimonials .nav-tabs{
	box-shadow: 0px 0px 10px 0px #ddd;
	background-color: #fff;
	
	
}

#subscribe h2{
	
	color: var(--color-negro);
	font-size: 70px;
	text-align: center;
	
}

#testimonials h2{
	
	color: var(--color-negro);
	font-size: 70px;
	
}



.jeune{
	
	background-color: #ED8F03;
}

.muji{
	
	margin-left: 50%;
}